@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;

  margin: 0;
  height: 100%;
}

.site-container {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-container {
  background-color: #ffffff;
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  align-self: center;
  color: #ffffff;
  background: #756157;
  word-break: break-all;

  display: inline-block;
  border: 0;
  border-radius: 4px;
  padding: 8px 34px;
}

.button:hover {
  cursor: pointer;
}

/* Pages */
/* page-header */
.page-header {
  background-color: #ffffff;
  display: flex;
  padding: 0 70px;
  flex-wrap: wrap;
}

.header-logo {
  height: 64px;
  width: 140px;
  margin-right: 28px;
  z-index: 1;
}

.navigation {
  display: flex;
  width: 100%;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 892px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 596px;
  width: 100%;
  flex-grow: 5;
  margin-right: 28px;
}

.navigation-item {
  padding: 0 16px;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-transform: capitalize;
  text-decoration: none;

  display: block;
  padding: 20px 0;
  min-height: 64px;
  min-width: 44px;
  word-break: break-all;
}

.navigation-link.checked {
  border-bottom: solid 2px #756257;
  padding-bottom: 18px;
}

/* user-menu */
.user-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  width: 268px;
}

.user-menu-icon {
  border: none;
  background: none;
  padding: 22px 12px;
  height: 64px;
  width: 44px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
}

.icon-search {
  background-image: url("../images/search.svg");
}

.icon-heart {
  background-image: url("../images/heart.svg");
  position: relative;
}

.favorites-counter-wrap {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  padding: 5px 5px 5px 4px;
  background: #7db54f;
  position: absolute;
  top: 11px;
  right: 4px;
}

.favorites-counter {
  display: block;
  font-family: "PT Sans", sans-serif;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  overflow: hidden;
}

.button.clickbait-link {
  margin: 14px 0 14px 20px;
  min-width: 160px;
}

/* section-header */
.section-header {
  text-align: center;
  padding-left: 70px;
  padding-right: 70px;
  word-break: break-all;
}

.section-header-title {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 20px;
}

.white {
  color: #ffffff;
}

.section-header-text {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
}

/* page-subscribe */
.subscribe {
  background-color: #2c424a;
  background-image: url("../images/index/subscribe-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 97px 258px 104px;
}

.subscribe .section-header-text {
  margin-bottom: 54px;
}

.subscribe.no-background {
  background: none;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-email {
  padding: 12px 20px;
  border: none;
  background-color: #f2f2f2;
  font-size: 18px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  width: 452px;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  border: none;
  border-radius: 0 4px 4px 0;
  padding-left: 50px;
  padding-right: 50px;
  min-width: 232px;
  background-color: #82b3d3;
}

/* page-footer */
.page-footer {
  background-color: #ffffff;
  padding: 45px 70px 35px;
  display: grid;
  grid-template-columns: auto 720px auto;
  column-gap: 40px;
  text-align: center;
}

.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.social-list-item img {
  display: block;
}

.phone {
  display: block;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.developer img {
  display: block;
}

/* index.html inner */
/* hero */
.hero {
  position: relative;
  background-color: #2c424a;
  color: #ffffff;
  background-image: url("../images/index/hero-bg.jpg");
  background-size: cover;
  padding: 51px 0 82px;
}

.hero::before {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  min-height: 57px;
  padding-top: 4.75%;
  background-image: url("../images/index/divider.svg");
  background-size: cover;
  background-position: top;
  bottom: 0;
  left: 0;
}

.hero-img {
  display: block;
  margin: 0 auto;
}

/* advantages */
.advantages .section-header {
  padding-top: 69px;
  padding-bottom: 69px;
  margin-bottom: 21px;
}

.advantages .section-header-title {
  margin-bottom: 25px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.advantages-item {
  width: 400px;
  min-height: 385px;
  flex-grow: 1;
}

.advantages-item.not-img:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item.not-img:nth-child(2n-1) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item.img {
  color: #ffffff;
  background: #82b3d3;
  display: flex;
  width: 1200px;
}

.reversed {
  flex-direction: row-reverse;
}

.flex-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 85px;
  justify-content: center;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;

  margin: 0;
}

.not-img .advantages-title {
  color: #000000;
}

.advantages-title::after {
  display: block;
  content: "";
  width: 60px;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  margin: 30px auto;
}

.not-img .advantages-title::after {
  background: rgba(0, 0, 0, 0.3);
}

.advantages-description {
  margin: 0;
}

.advantages-item img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* features */
.features .section-header {
  padding-top: 64px;
  padding-bottom: 64px;
}

.features-list {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.features-item {
  width: 400px;
  min-height: 385px;
  padding: 80px 85px;
  flex-grow: 1;
}

.features-item::before {
  display: block;
  content: "";
  width: 75px;
  height: 72px;
  background-size: 75px 72px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.features-item.housing::before {
  background-image: url("../images/index/features-housing.svg");
}

.features-item.food::before {
  background-image: url("../images/index/features-food.svg");
}

.features-item.souvenirs::before {
  background-image: url("../images/index/features-souvenirs.svg");
}

.features-item:nth-child(2n-1) {
  background: rgba(131, 179, 211, 0.12);
}

.feature-name {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 30px;
}

.feature-description {
  margin: 0;
}

/* find-hotel */
.find-hotel {
  text-align: center;
  padding: 96px 304px;
}

.find-hotel .section-header {
  padding: 0;
}

.find-hotel .section-header-text {
  margin-bottom: 54px;
}

.button-find-hotel {
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  min-width: 376px;
}

/* catalog.html inner */
.catalog-bg-wrapper {
  background-color: #2c424a;
  color: #ffffff;
  background-image: url("../images/catalog/filter-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 35px 70px 70px 70px;
  min-height: 412px;
}

/* inner-header */
.inner-header {
  margin-bottom: 40px;
}

.inner-title {
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
}

.breadcrumbs-item {
  display: inline;
  word-break: break-all;
}

.breadcrumbs-item:not(:last-child)::after {
  display: inline-block;
  content: "";
  width: 8px;
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background-image: url("../images/catalog/breadcrumbs-vector.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px 20px;
  vertical-align: middle;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  vertical-align: middle;
}

.breadcrumbs-link.home {
  display: inline-block;
  height: 15px;
  width: 13px;
  background-image: url("../images/catalog/home-breadcrubs.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px 15px;
}

/* filter */
.filter {
  display: flex;
}

.filter-group {
  border: none;
  padding: 0;
  margin: 0;
}

.filter-group.infrastructure {
  margin-right: 70px;
}

.filter-group.type {
  margin-right: auto;
}

.filter-group.cost {
  margin-right: 70px;
}

.filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  padding: 0;
  padding-bottom: 32px;
}

.filter-list {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 23px;
}

.filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.price {
  font-family: "PT Sans", sans-serif;
  background-color: #f2f2f2;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  width: 143px;
  height: 48px;
  padding: 12px 20px;
}

.price-from {
  border-radius: 4px 0 0 4px;
  margin-right: 2px;
}

.price-to {
  border-radius: 0 4px 4px 0;
}

.filter-buttons-wrap {
  display: flex;
  flex-direction: column;
  padding-top: 56px;
}

.submit-button {
  background: #82b3d3;
  width: 191px;
  margin-bottom: 32px;
}

.reset-button {
  background: none;
  width: 191px;
}

/* catalog */
.catalog-hotels {
  padding: 50px 70px 60px;
}

/* catalog-meta */
.catalog-meta {
  display: flex;
  margin-bottom: 40px;
  align-items: center;
}

.search-result {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  margin: 0;
  margin-right: auto;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 292px;
  height: 49px;
  padding: 14px 15px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  margin-right: 70px;
}

.card-view-buttons {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 160px;
  height: 48px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.card-view-button {
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background: none;
}

.card-view-button.active {
  border: 2px solid #000000;
}

.card-view-button.grid {
  background-image: url("../images/catalog/button-grid.svg");
  background-repeat: no-repeat;
  background-size: 16px 14px;
  background-position: center;
}

.card-view-button.slider {
  background-image: url("../images/catalog/button-slider.svg");
  background-repeat: no-repeat;
  background-size: 16px 14px;
  background-position: center;
}

.card-view-button.list {
  background-image: url("../images/catalog/button-list.svg");
  background-repeat: no-repeat;
  background-size: 16px 14px;
  background-position: center;
}

/* catalog-cards */
.hotel-card-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin-bottom: 40px;
}

.hotel-card-item {
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  padding: 18px;
  display: grid;
  align-content: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 16px;
  min-height: 438px;
  word-break: break-all;
}

.hotel-card-item img {
  width: 100%;
  grid-column: 1 / -1;
  order: -1;
  object-fit: cover;
  object-position: center;
}

.hotel-card-caption {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
  grid-column: 1 / -1;
}

.hotel-price {
  justify-self: end;
}

.button-more {
  padding-left: 26px;
  padding-right: 26px;
}

.button-favorite {
  background-color: #82b3d3;
  padding-left: 20px;
  padding-right: 20px;
}

.button-favorite.selected {
  background-color: #7db54f;
  padding-left: 18px;
  padding-right: 18px;
}

.rating-stars {
  display: flex;
  flex-wrap: wrap;
}

.rating-star {
  width: 18px;
  height: 17px;
  background-image: url("../images/catalog/star.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px 17px;
  align-self: center;
}

.rating-star:not(:last-child) {
  margin-right: 6px;
}

.rating-score {
  margin: 0;
  display: inline-block;
  border-radius: 4px;
  padding: 8px 20px;
  text-align: center;
  align-self: center;
  word-break: break-all;
  font-weight: 400;
  color: #333333;
  background-color: #f2f2f2;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog-divider {
  margin-bottom: 40px;
  border: none;
  border-top: 1px solid #e6e6e6;
}

/* pagination */
.pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.pagination-list-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-list-link {
  display: block;
  width: 60px;
  height: 60px;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background: #82b3d3;
  text-align: center;
  padding: 12px 0;
  border-radius: 4px;
}

.pagination-list-item.divider {
  display: block;
  width: 60px;
  height: 60px;
  padding: 17px 0;
  text-align: center;

  font-size: 22px;
  line-height: 26px;
  color: #000000;
  border-radius: 4px;
}

.pagination-list-link.current {
  color: #000000;
  background: #f2f2f2;
}
