@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #ffffff;
}

/* Pages */
/* page-header */
.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-transform: capitalize;
  text-decoration: none;
}

.navigation-link.checked {
  text-decoration: underline;
}

/* user-menu */
.user-menu-button {
  border: none;
  background: none;
}

.favorites-counter {
  font-family: 'PT Sans', sans-serif;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background: #7db54f;
}

.clickbait-link {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
}

/* page-subscribe */
.subscribe {
  background-color: #2c424a;
  color: #ffffff;
  background-image: url("../images/index/subscribe-bg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  border: none;
}

/* page-footer */
.phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

/* index.html inner */
/* hero */
.hero {
  background-color: #2c424a;
  color: #ffffff;
  background-image: url("../images/index/hero-bg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

/* advantages */
.advantages-header {
  text-align: center;
}

.advantages-headline {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.advantages-list {
  text-align: center;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
}

.advantages-item-img {
  color: #ffffff;
  background: #82b3d3;
}

.advantages-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(2n) .advantages-title {
  color: #000000;
}

.advantages-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-child(3) .advantages-title {
  color: #000000;
}

/* travel */
.travel-header {
  text-align: center;
}

.travel-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.features-list {
  text-align: center;
}

.features-name {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.features-description {
  font-size: 18px;
  line-height: 21px;
}

.features-item:nth-child(2n-1) {
  background: rgba(131, 179, 211, 0.12);
}

.find-hotel {
  text-align: center;
}

.find-hotel-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.find-hotel-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
}

/* catalog.html inner */
.catalog-bg-wrapper {
  background-color: #2c424a;
  color: #ffffff;
  background-image: url("../images/catalog/filter-bg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

/* inner-header */
.main-title {
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
}

/* filter */
.filter-group {
  border: none;
}

.filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.filter-list {
  font-size: 18px;
  line-height: 23px;
}

.price {
  background-color: #f2f2f2;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.submit-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background: #82b3d3;
  border: none;
}

.reset-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background: none;
  border: none;
}

/* catalog-meta */
.search-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.card-view-button {
  background: none;
}

/* catalog-cards */
.hotel-card-caption {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.hotel-info {
  font-size: 18px;
  line-height: 21px;
}

.hotel-more-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
}

.favorite {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  border: none;
}

.favorite.selected {
  background-color: #7db54f;
}

.rate {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

/* pagination */
.pagination-list-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background: #82b3d3;
}

.pagination-list-link.current {
  color: #000000;
  background: #f2f2f2;
}

/* subscribe */
.subscribe.no-background {
  background: none;
}

.no-background .subscribe-title {
  color: #000000;
}

.no-background .subscribe-description {
  color: #333333;
}
